<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <link href="/css/archivo.css" rel="stylesheet"> </link>
 <link href="/css/register.css" rel="stylesheet"> </link>
 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Mercado Liebre</title>
 </head>

    <body>
      <header class="main-header">
      <div class="main-header-top-bar">

        <div class="contenedor-logo-search">
       <img src = "/img/logo-mercado-liebre.svg" alt = "Logo de MercadoLiebre" class = "logo">
      </div>

      <div class="search">
      <form method="POST"><div class="field" id="searchform"> 
        <input type="text" id="searchterm" placeholder="Buscar productos, marcas..." /><button type="button" id="botonbuscar"><i class="fas fa-search"></i></button>
      </div>
      </form>
    </div>
      
      <div class="compraencuotas">
      <h2 class ="copy-header">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito </i>
        </h2>
      </div>
    </div>
  
        
      
      
        <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
        </a>
        <div class="menu">
     <nav class="main-navbar">
      <ul class = "left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-navbar">
          <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
     </nav>
    </div>
     <br>
      </ul>
 </header>
               <div class="register">
<form action="" method="GET">
    <div class="inputs-register">
<h3 class="datos-usuario">DATOS DE USUARIO</h3>    
<input type="text" name="nombredeusuario" placeholder=" Nombre de usuario" minlength="8">
<input type="password" name="password" placeholder=" Contraseña" required>
<input type="password" name="password" placeholder=" Confirmar contraseña" required>
<h3>DATOS PERSONALES</h3>
<input type="text" name="nombreyapellido" placeholder=" Nombre y Apellido" minlength="3" required>
<input placeholder=" Fecha de nacimiento" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="fecha">
<input type="text" name="domicilio" placeholder=" Domicilio">
<br>
<label class="foto-us">Foto de usuario</label>
<input type="file" name="imagen" accept=".jpg, .png">
<h3>PERFIL DEL USUARIO</h3>
<div class="box-general-radio">
<div class="item-radio">
<input type="radio" name="perfil" value="Comprador">
<label>Comprador</label>
</div>
<div class="item-radio">
<input type="radio" name="perfil" value="Vendedor">
<label>Vendedor</label>
</div>
</div>
<h3>INTERESES</h3>
<div class="box-general-intereses">
<div class="item-check">
<input type="checkbox" name="intereses" value="Electro">
<label>Electro</label>
</div>
<div class="item-check">
<input type="checkbox" name="intereses" value="Moda">
<label>Moda</label>
</div>
<div class="item-check">
<input type="checkbox" name="intereses" value="Hogar">
<label>Hogar</label>
</div>
<div class="item-check">
<input type="checkbox" name="intereses" value="Juguetería">
<label>Juguetería</label>
</div>
<div class="item-check">
<input type="checkbox" name="intereses" value="Vida sana">
<label>Vida sana</label>
</div>
</div>
<!--<button type="submit"> Envíar </button>
<button type="reset"> Cancelar </button>-->
<a class="enviar" href="/"> <p class="text-enviar">Envíar</p></a>
<button type="reset"> Cancelar </button>
</div> 
</form>
</div>
<footer class = "footer">
  <div class="element-foot">
          <div class="element-foot-individual">
           <i class="far fa-credit-card" id="iconos"></i>
           <h4>Pagá con tarjeta o efectivo</h4>
           <p class = "texto">Con Mercado Liebre Cash, tenés cuotas sin interés 
            con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
           </p>
          </div>
          <div class="element-foot-individual">
           <i class="fas fa-gift" id="iconos"></i>
           <h4>Envío gratis desde $ 2.500</h4>
           <p class = "texto">Solo por estar registrad@ en Mercado Liebre 
           tenés envíos gratis en miles de productos. 
           Es un beneficio de Mercado Puntos.</p>
          </div>
          <div class="element-foot-individual">
           <i class="fas fa-user-shield" id="iconos"></i>
           <h4>Seguridad, de principio a fin</h4>
           <p class = "texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.</p>
          </div>
        </div>
        <h4 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</footer>
</body>
</html>
